.App {
	text-align: center;
}

.App-header {
	width: fit-content;
	color: #282c34;
	margin: 1rem auto;
}
.App-logo {
	width: fit-content;
	margin: 0;
	font-size: 2.5rem;
}

.border {
	margin: 0.5rem auto;
	border-top: 0.2rem solid #61dafb;
	width: 8rem;
}
.nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin: 2rem auto;
}
.menu-cont {
	margin: -1rem 0;
}
ul {
	list-style: none;
	padding: 0;
}
button {
	font-size: 1rem;
	border: none;
	background: transparent;
	color: #07bef1;
	cursor: pointer;
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
}
button:hover {
	background: #07bef1;
	color: #fff;
}
.allmenu {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.deal {
	display: flex;
	justify-content: space-between;
	width: 30rem;
	margin: 1rem 0;
	position: relative;
}
.right {
	width: 30rem;
	margin-left: 1rem;
}
img {
	border: 0.2rem solid #07bef1;
	border-radius: 0.3rem;
	width: 20rem;
	height: 10rem;
}
.name_price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: dotted gray 0.01rem;
	margin-bottom: 1rem;
}
.name_price h4 {
	margin: 0;
}
.price {
	color: green;
}
.desc {
	text-align: left;
	font-size: 0.9rem;
}
.type {
	color: red;
	font-size: 0.8rem;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	right: 0;
}

@media screen and (max-width: 480px) {
	.App {
		width: 24rem;
		margin: auto;
	}
	.nav {
		justify-content: space-between;
		width: 22rem;
	}
	button {
		padding: 0.5rem;
	}
	.deal {
		width: 23rem;
		flex-direction: column;
		padding-bottom: 2rem;
	}
	img {
		margin: auto;
	}
	.right {
		width: 20rem;
	}

	.name_price {
		margin-left: 0;
		padding-left: 0;
		width: 20rem;
		padding: 1rem 0;
	}
	.desc {
		width: 20rem;
	}
	.type {
		bottom: -0.2rem;
		right: 1rem;
	}
}
